<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>aggiungiPercorso</title>
    <style>
      body {
        background-color: #ffce30;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Aggiungi percorso</h1>

      <form
        action="https://bronzed-angry-glasses.glitch.me/aggiungiPercorso"
        method="POST"
      >
        // richieste dei campi all'utente
        <div class="form-group">
          <label for="Provincia">Provincia:</label>
          <input class="form-control" name="Provincia" />
        </div>

        <div class="form-group">
          <label for="Denominazione estesa della tratta"
            >Denominazione estesa della tratta:</label
          >
          <input
            class="form-control"
            name="Denominazione estesa della tratta"
          />
        </div>

        <div class="form-group">
          <label for="Lunghezza">Lunghezza:</label>
          <input class="form-control" name="Lunghezza" />
        </div>

        <div class="form-group">
          <label for="Longitudine">Longitudine:</label>
          <input class="form-control" name="Longitudine" />
        </div>

        <div class="form-group">
          <label for="Latitudine">Latitudine:</label>
          <input class="form-control" name="Latitudine" />
        </div>

        <div class="form-group">
          <label
            for="Tipo di percorso(Percorso principale, Deviazione, Navigazione)"
            >Tipo di percorso(Percorso principale, Deviazione,
            Navigazione):</label
          >
          <input
            class="form-control"
            name="Tipo di percorso(Percorso principale, Deviazione, Navigazione)"
          />
        </div>

        <div class="form-group">
          <label for="Nome codificato della tratta"
            >Nome codificato della tratta:</label
          >
          <input class="form-control" name="Nome codificato della tratta" />
        </div>

        <div class="form-group">
          <label for="Partenza della tratta">Partenza della tratta:</label>
          <input class="form-control" name="Partenza della tratta" />
        </div>

        <div class="form-group">
          <label for="Arrivo della tratta">Arrivo della tratta:</label>
          <input class="form-control" name="Arrivo della tratta" />
        </div>

        <div class="form-group">
          <label for="Tappe intermedie della tratta"
            >Tappe intermedie della tratta:</label
          >
          <input class="form-control" name="Tappe intermedie della tratta" />
        </div>

        <button type="submit" class="btn">Aggiungi Percorso</button>
      </form>
    </div>
  </body>
</html>
