<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cerca Percorso</title>
    <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <style>
      body {
        background-color: #ffce30;
      }
    </style>
  </head>

  <body>
    <h1>Cerca percorso</h1>

    <form method="GET">
      <div class="form-group">
        <label for="nc">Nome codificato della tratta:</label>
        <input class="form-control" id="nc" name="nc" />
      </div>
      <button type="button" class="btn" id="btn">Cerca</button>
    </form>
    <div id="result"></div>
    <div style="float:left; width:400px; height:400px;" id="mapid"></div>
    <div style="clear:both"></div>

    <script>
      btn = document.getElementById("btn");
      const attribution ='&copy; <a href="htts://www.openstreetmap.org/copyright"> OpenStreetMap </a>contributors';
      const tUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
      const tiles = L.tileLayer(tUrl, {attribution})
      var map = L.map('mapid');
      tiles.addTo(map);
      const latVeneto = 45.5582;
      const longVeneto = 11.5419;
      map.setView([latVeneto, longVeneto], 7);
      async function setup() {
        var id = document.getElementById("nc").value;
        var url = "/specPerc?" + "nc=" + id;
        let headers = [
          "Provincia",
          "Denominazione estesa della tratta",
          "Lunghezza",
          "Longitudine",
          "Latitudine",
          "Tipo di percorso (Percorso principale, Deviazione, Navigazione)",
          "Nome codificato della tratta",
          "Partenza della tratta",
          "Arrivo della tratta",
          "Tappe intermedie della tratta",
        ];
        var response = await fetch(url, {          
          Method: "GET",
          Headers: {
            "Content-Type": "application/json",
          },
        });
        var result = await response.json();
        console.log(result);
        if (result[headers[0]] == null) {                           // se lista vuota darà errore
          console.log(result);
          document.getElementById("result").innerHTML =
            "Impossibile trovare percorso cambia nome codificato!";
        } else {
          var div = document.getElementById("result");
          div.innerHTML = "";
          for (var i = 0; i < headers.length; i++) {               // ciclo per la stampa del risultato
            console.log(result[headers[i]]);
            div.innerHTML +=
              "<b>" + headers[i] + "</b>: " + result[headers[i]] + "<br>";
          }
          div.innerHTML += "<br>" + "---------------------------------------------------------------------------" + "<br>" + "<br>";
        }
        var longitudine = parseFloat(result[['Longitudine']]);
        var latitudine = parseFloat(result[['Latitudine']]);
        if (!isNaN(longitudine) && !isNaN(latitudine)) {                // converto cordinate                   
          var descrizione = "nc: " + result[['Nome codificato della tratta']] + "<br>" + "nome: " + result[['Denominazione estesa della tratta']];
          var markerStruttura = new L.LatLng(latitudine, longitudine);
          var marker = new L.Marker(markerStruttura);
          map.addLayer(marker);
          marker.bindPopup(descrizione);
        }
      }
      btn.onclick = setup;
    </script>
  </body>
</html>
