<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Escursioni in Veneto</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
      body {
        background-color: #ffce30;
      }
    </style>
  </head>

  <body>
    <h1>Home</h1>
    <ul>
      <li>
        <a href="https://bronzed-angry-glasses.glitch.me/views/escursioni"
          >Tutte le escursioni</a
        >
      </li>
      <li>
        <a href="https://bronzed-angry-glasses.glitch.me​/views/cercaPercorso"
          >Cerca escursioni</a
        >
      </li>
      <li>
        <a href="https://bronzed-angry-glasses.glitch.me/views/aggiungiPercorso"
          >Aggiungi percorso</a
        >
      </li>
    </ul>
  </body>
</html>
